.product{
    width: 350px;
}

.product p{
    margin: 6px 0px;
}

.prodPrice{
    color: #03C04A;
    display: flex;
    gap: 20px;
    font-size: 18px;
}

.product:hover {
  transform: scale(1.05);  
  transition: 0.6s;
}