body {
    font-family: 'open sans';
}


.navBar {
    display: flex;
    justify-content: space-around;
    padding: 5px;
    box-shadow: 2px 2px 8px -2px lightgray;
}

.nav-logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navMenu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    color: #1F456E;
}

.navMenu li {
display: flex;
flex-direction: row;
align-items: center;
justify-content: center;
gap: 3px;
font-size: 20px;
cursor: pointer;
}

#select{
    border: none;
}
#select:hover {
    color: #FA8128;
}

.navMenu li:hover {
    color: #FA8128;
}

.searchContainer {
    position: relative;
    display: inline-block;
}

.searchInput{
    border-radius: 30px;
    padding: 10px 50px;
    border-color: #FA8128;
}

.searchInput:active {
    border-color: #ED7014;
}

.search{
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    padding-left: 3px;
    padding-right: 5px;
}


.cart {
    display: flex;
    align-items: center;
}

.cart button {
    border-radius: 10%;
    border: none;
    background-color: #FA8128;
    align-items: center;
    display: flex;
    padding: -2px 20px;
}

.cart button img {
    padding: 5px;
}

.cartCount {
    margin-left: 5px;
    font-size: 20px;
    color: white;
    display: inline-block;
}

.link {
    text-decoration: none;
}


@media (max-width: 768px) {
    .header {
        padding: 10px
    }

    .navBar {
        flex-direction: column;
    }

    .menu li {
        display: block;
        margin-bottom: 10px;
    }

    .footer {
        padding: 10px;
    }
}